<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ajouter une Etap</title>

<style>
th, td {
    padding: 5px;
}
</style>

</head>

<body>
	<!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
	
	<form class="form" th:action="@{/step-ajoute}" th:object="${step}" method="post" >
        <h2>Ajouter une étap:</h2>

        
        <!-- <input class="name" type="number" th:field="${step.scenario}" name="scenario" placeholder="Scenario:"> -->
        
        <input class="name" type="number" th:field="${step.number}" name="number" placeholder="numéro de l'étap':">
        
        <input class="name" type="text" th:field="${step.title}" name="title" placeholder="Titre de l'étap':">

        <input class="name" type="text" th:field="${step.description}" name="description" placeholder="Description:">
        
        <input class="name" type="text" th:field="${step.response}" name="response" placeholder="reponse :">
        
        <input class="name" type="text" th:field="${step.type}" name="type" placeholder="type de reponse :">

        <input id="button" type="submit" value="Ajouter">
    </form>
</body>
</html>