<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Suppretion</title>

<style>
th, td {
    padding: 5px;
}
</style>

</head>

<body>
	<!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <a th:href="@{/ajout-step/}+${scenariotitle}">Ajouter une étape</a>
    
        <h2>les étape du scenario: </span><span th:text="${scenariotitle}"></span> </h2>
            <table border="1">
        <tr>
            <th>ID</th>
            <th>scénario</th>
            <th>étape</th>
            <th>titre</th>
            <th>description</th>
            <th>réponse</th>
            <th>type de réponse</th>
        </tr>
      	<tr th:each="stepInfo : ${stepInfo}">
            <td th:text="${stepInfo.id}">..</td>
           	<td th:utext="${stepInfo.scenario}">..</td>
            <td th:utext="${stepInfo.number}">..</td>
            <td th:utext="${stepInfo.title}">..</td>
            <td th:utext="${stepInfo.description}">..</td>
            <td th:utext="${stepInfo.response}">..</td>
            <td th:utext="${stepInfo.type}">..</td>
            <td><a th:href="@{/suppr-step/}+${stepInfo.id}">supprimer</a></td>

        </tr> 

    </table>

</body>
</html>